:root{
    --green:rgb(161, 203, 134);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-size: 63%;
    overflow-x:hidden;
    scroll-behavior: smooth ;
    scroll-padding-top: 6rem;
}
section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--green);
   
}

.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content p{
    font-size: 2.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:rgb(82, 203, 42);
}

header{
    position: fixed;
    top: 0;  
    left: 0;  right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: 400;
    position: relative;
}

header .logo::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71e68e, #59b680);
}

header .navbar a{
    font-size: 2rem;
    color: #666;
    padding: 0 1.5rem;
}

header .navbar a:hover{
    color: var(--green);
}

header .icons a{
    color: #333;
    font-size: 2.5rem;
    padding: 1.5rem;
}
header .icons a:hover{
    color:var(--green) ;
}
header #toggler{
    display: none;
}
header .bar{
    color: #333;
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}








/* Media Queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    
    header{
        padding: 2rem;  
    }

}
@media (max-width:768px){
    header .bar{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top:.1rem solid rgba(0,0,0,.1) ;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
}
@media (max-width:450){
    html{
        font-size: 50%;
    }
}

/* header section ends */
